body {
    width: 900px;
    border: 1px black dotted;
    margin: auto;
    padding: 10px;
}

.wrap {
    width: 450px;
    border-top: 2px solid red;
    border-right: 1px solid green;
    border-bottom: 2px solid yellow;
    border-left: 1px solid blue;
    border-radius: 50px;
    margin: 50px;
    padding: 60px;
}

p {
    line-height: 35px;
}

h1,
b,
ol {
    color: red;
}

h2 {
    color: green;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

ul>li {
    font-style: italic;
    color: brown;
}

i {
    color: blue;
}

p:nth-child(1n) {
    font-family: sans-serif;
}

div>h2 {
    text-decoration: overline;
}

.one {
    color: black;
}

.one>.two {
    color: grey;
}

.one {}

.two {}